$background: rgba(241, 241, 241, 1);
$border: 1px solid #dcdfe6;

/** color **/
$text-color: #2c3e50;
$border-color: #dcdfe6;
$green: rgba(14, 123, 53);
$hover-color: #dedfe0;

/** font **/
$text-font-size: 16px;

/** shape **/
$border-radius: 4px;

$default-transition-duration: .25s;
